* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: start;
  justify-content: center;
  min-height: 100vh;
  background: #595db8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  color: #4caf50;
}

.App {
  text-align: center;
}

.App nav {
  display: flex;
  justify-content: space-between;
  background-color: #4caf50;
  color: #ffffff;
  padding: 0.5rem 1rem;
}

.App nav .menu {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.App nav a {
  display: block;
  position: relative;
  color: #ffffff;
  font-size: 1.25rem;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 1rem;
  height: 2rem;
}

.App nav a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.0625rem;
  display: block;
  transition: all 0.3s ease;
  bottom: 25%;
}
.App nav a:hover::after {
  width: 100%;
  height: 0.0625rem;
  background-color: #fff;
}

.wrapper {
  width: 30rem;
  padding: 2rem;
  background: #fff;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
  padding: 2rem 1.25rem 1.25rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-content {
  width: 50%;
  height: auto;
  margin: 2rem auto 0;
  background-color: white;
}
.modal-content input {
  width: 16rem;
  margin: 1rem;
  height: 2rem;
  padding: 0.5rem;
}

/* draggable stuff */

.sortable-list {
  margin: auto;
}
.sortable-list .item {
  list-style: none;
  display: flex;
  cursor: move;
  background: #fff;
  align-items: center;
  border-radius: 0.375rem;
  padding: 0.625rem 0.875rem;
  margin-bottom: 0.75rem;
  border: 0.0625rem solid #ccc;
  justify-content: space-between;
}
.item .details {
  display: flex;
  align-items: center;
  width: 100%;
}
.item .details img {
  height: auto;
  width: 50%;
  pointer-events: none;
  margin-right: 0.75rem;
  object-fit: cover;
  border-radius: 50%;
  max-width: 100%;
}
.item .details span {
  display: block;
  width: 100%;
  text-align: left;
}
.item .details span.right {
  text-align: right;
}
.item .details span {
  font-size: 1.13rem;
}
.item i {
  color: #474747;
  font-size: 1.13rem;
  font-style: normal;
}
.item i::after {
  content: "\2807";
}
.item i.hidden {
  visibility: hidden;
}
.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}

.print .item i {
  visibility: hidden;
}
.print .item {
  border: 0.0625rem solid white;
}
